@tailwind base;
@tailwind components;
@tailwind utilities;


.react-mde button {
  color: black;
  border-radius: 30px; /* Ensures black text inside the textarea */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}
